{% extends "base.html" %}

{% block content %}
    <section class="py-5 bg-gray-300">
        <!-- annonce detail -->
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-xl-9 px-4 pb-4 pl-xl-5 pr-xl-5">
                    <section class="mx-n4 mx-xl-n5 mb-4 mb-xl-5">
                        <!-- Slider main container-->
                        <div class="swiper-container booking-detail-slider">
                            <!-- Additional required wrapper-->
                            <div class="swiper-wrapper">
                                <!-- Slides-->
                                <div class="swiper-slide"><img class="img-fluid" src="{{ annonce.photo_main.url }}" alt="Our street"></div>
                                <div class="swiper-slide"><img class="img-fluid" src="{{ annonce.photo_main.url }}" alt="Outside"></div>
                                <div class="swiper-slide"><img class="img-fluid" src="{{ annonce.photo_main.url }}" alt="Rear entrance"></div>
                                <div class="swiper-slide"><img class="img-fluid" src="{{ annonce.photo_main.url }}" alt="Kitchen"></div>
                                <div class="swiper-slide"><img class="img-fluid" src="{{ annonce.photo_main.url }}" alt="Bedroom"></div>
                                <div class="swiper-slide"><img class="img-fluid" src="{{ annonce.photo_main.url }}" alt="Bedroom"></div>
                            </div>
                            <div class="swiper-pagination swiper-pagination-white"></div>
                            <div class="swiper-button-prev swiper-button-white"></div>
                            <div class="swiper-button-next swiper-button-white"></div>
                        </div>
                    </section>
                    <!-- Breadcrumbs -->
                    <ol class="breadcrumb pl-0  justify-content-start">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'annonce-list' %}">Voir toutes les annonces</a></li>
                        <li class="breadcrumb-item active">Trip to London   </li>
                    </ol>
                    <div class="text-block">
                        <p class="subtitle">{{ user.profile.city }}</p>
                        <h1 class="hero-heading mb-3">{{ user.username }}</h1>
                    </div>
                    <div class="text-block">
                        {% if request.user.profile.id != profile.id %}
                            <a href="{% url "conversation-create" profile.id %}" class="btn btn-dark">Send Message </a>
                        {% endif %}

                        <div class="row mb-3">
                            <div class="col-md-6 d-flex align-items-center mb-3 mb-md-0">
                                <div class="date-tile mr-3">
                                    <div class="text-uppercase"> <span class="text-sm">Apr</span><br><strong class="text-lg">17</strong></div>
                                </div>
                                <p class="text-sm mb-0">{{ annonce.category }}</p>
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="date-tile mr-3">
                                    <div class="text-uppercase"><span class="text-sm">Apr</span><br><strong class="text-lg">18</strong></div>
                                </div>
                                <p class="text-sm mb-0">Thursday check-out<br>11AM</p>
                            </div>
                        </div>
                    </div>

                    <div class="text-block">
                        <div class="row">
                            <div class="col-sm">
                                <h6>Address</h6>
                                <p class="text-muted">Ap #867, 859 Sit Rd., London</p>
                            </div>
                            <div class="col-sm">
                                <h6>Phone</h6>
                                <p class="text-muted">+421 454 897 545</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-block">
                        <div class="media align-items-center mb-3">
                            <div class="media-body">
                                <h6>Entire appartment</h6>
                                <p class="text-muted mb-0">Hosted by <a href="user-profile.html" class="text-reset">Jack London</a></p>
                            </div><a href="user-profile.html"><img class="avatar avatar-lg avatar-border-white ml-4" src="images/avatar-3.jpg" alt="Jack London"></a>
                        </div>
                    </div>
                    <div class="text-block">
                        <h6 class="mb-3">Who's coming</h6>
                        <div class="row mb-3">
                            <div class="col-auto text-center text-sm"><img class="avatar avatar-border-white mb-1" src="images/avatar-0.jpg" alt="Ondrej"><br>Ondrej</div>
                            <div class="col-auto text-center text-sm"><img class="avatar avatar-border-white mb-1" src="images/avatar-3.jpg" alt="Julie"><br>Julie</div>
                            <div class="col-auto text-center text-sm"><img class="avatar avatar-border-white mb-1" src="images/avatar-0.jpg" alt="Barbora"><br>Barbora</div>
                        </div>
                    </div>
                    <div class="text-block">
                        <div class="row">
                            <div class="col">
                                <h6> Total cost</h6>
                                <p class="text-muted">$499.50</p>
                            </div>
                            <div class="col align-self-center">
                                <p class="text-right d-print-none"><a class="btn btn-link text-muted" href="#"><i class="far fa-file mr-2"></i>Your invoice</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="text-block">
                        <h6 class="mb-4">Things to keep in mind</h6>
                        <ul class="list-unstyled">
                            <li class="mb-2">
                                <div class="media align-items-center mb-3">
                                    <div class="icon-rounded icon-rounded-sm bg-success-light mr-4"><i class="fa fas fa-child text-success fa-fw text-center"></i></div>
                                    <div class="media-body"><span class="text-sm">Not suitable for children and infants - The entrance staircase doesn't have handrails</span></div>
                                </div>
                            </li>
                            <li class="mb-2">
                                <div class="media align-items-center mb-3">
                                    <div class="icon-rounded icon-rounded-sm bg-success-light mr-4"><i class="fa fas fa-glass-cheers text-success fa-fw text-center"></i></div>
                                    <div class="media-body"><span class="text-sm">No parties or events</span></div>
                                </div>
                            </li>
                            <li class="mb-2">
                                <div class="media align-items-center mb-3">
                                    <div class="icon-rounded icon-rounded-sm bg-success-light mr-4"><i class="fa fa-smoking-ban text-success fa-fw text-center"></i></div>
                                    <div class="media-body"><span class="text-sm">No smoking</span></div>
                                </div>
                            </li>
                            <li class="mb-2">
                                <div class="media align-items-center mb-3">
                                    <div class="icon-rounded icon-rounded-sm bg-success-light mr-4"><i class="fa fa-cat text-success fa-fw text-center"></i></div>
                                    <div class="media-body"><span class="text-sm">No pets</span></div>
                                </div>
                            </li>
                        </ul>
                        <div class="collapse" id="moreRules">
                            <ul class="list-unstyled">
                                <li class="mb-2">
                                    <div class="media align-items-center mb-3">
                                        <div class="icon-rounded icon-rounded-sm bg-success-light mr-4"><i class="fa fas fa-child text-success fa-fw text-center"></i></div>
                                        <div class="media-body"><span class="text-sm">Not suitable for children and infants - The entrance staircase doesn't have handrails</span></div>
                                    </div>
                                </li>
                                <li class="mb-2">
                                    <div class="media align-items-center mb-3">
                                        <div class="icon-rounded icon-rounded-sm bg-success-light mr-4"><i class="fa fas fa-glass-cheers text-success fa-fw text-center"></i></div>
                                        <div class="media-body"><span class="text-sm">No parties or events</span></div>
                                    </div>
                                </li>
                                <li class="mb-2">
                                    <div class="media align-items-center mb-3">
                                        <div class="icon-rounded icon-rounded-sm bg-success-light mr-4"><i class="fa fa-smoking-ban text-success fa-fw text-center"></i></div>
                                        <div class="media-body"><span class="text-sm">No smoking</span></div>
                                    </div>
                                </li>
                                <li class="mb-2">
                                    <div class="media align-items-center mb-3">
                                        <div class="icon-rounded icon-rounded-sm bg-success-light mr-4"><i class="fa fa-cat text-success fa-fw text-center"></i></div>
                                        <div class="media-body"><span class="text-sm">No pets</span></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-link btn-collapse pl-0 text-muted" type="button" data-toggle="collapse" data-target="#moreRules" aria-expanded="false" aria-controls="moreRules" data-expanded-text="Show less" data-collapsed-text="Show more">Show more</button>
                    </div>
                    <div class="text-block d-print-none">
                        <button class="btn btn-link pl-0" onclick="window.print()"><i class="fa fa-print mr-2"></i>Print </button>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3 map-side-lg px-lg-0">
                    <div class="map-full shadow-left" id="detailSideMap">
                        <!-- maps -->
                        <!-- end maps -->
                    </div>
                </div>
            </div>
        </div>

        <!-- end detail -->
    </section>

{% endblock %}