{% extends "base.html" %}

{% block content %}
    <section class="my-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="card">
                        <div class="card-body">
                            <form class="form-validate" method="POST">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">Supprimer une annonce</legend>
                                    <h4>Souhaitez-vous supprimer cette annonce :<br /> "{{ annonce.name }}"</h4>
                                </fieldset>
                                <button class="btn btn-lg btn-block btn-danger" type="submit">Supprimer</button>
                                <a class="btn btn-outline-dark mt-3" href="{% url "annonce-user" %}">Annuler</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}